<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Play!</title>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>
	  
	    <header>
			
			<div class="primary-header">
				<a class="logo" href="/">Play!</a>
			  
				<nav class="nav">
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					</ul>
				</nav>
			</div>
		  
			<div class="hero">
				<h1>Connect with Friends.<br/> Get on the Pitch.<br/> Play!</h2>
				<a class="btn btn-default" href="/register">Sign Up!</a>
			</div>
		</header>
		
		<main>
			
		    <div class="container">
				<% if(error && error.length > 0){ %>
	    		<div class="alert alert-danger" role="alert">
	        	<%= error %>
	    		</div>
				<% } %>
				<% if(success && success.length > 0){ %>
	    		<div class="alert alert-success" role="alert">
	        	<%= success %>
	    		</div>
				<% } %>
			</div>
		
			<section class="container">
				<h2>Upcoming Games...</h2>
				<div class="grid">
					<div class="schedule-box">
						<img src="/images/christian-widell-101891-unsplash.jpg" alt="soccer field">
						<div class="cal-leaf">
							<span class="month">Aug</span>
							<span class="day">9</span>
						</div>
						<div class="schedule-text">
							<h3>Long Island City</h3>
							<h4>Queens West Sports Field</h4>
							<datetime>Thursday, August 9th 2018</datetime>
						</div>
					</div>
				</div>
			</section>
		  
			<section class="container">
				<h2>How Play! Works</h2>
				<div class="grid row">
					<i class="far fa-calendar-alt fa-2x col-1-2 cal"></i>
					<p class="col-2-2">Set up a pickup or organized game with a date, time and location.  You can even add full leagues!</p>
				</div>
				<div class="grid row">
					<i class="fas fa-plus-circle fa-2x col-1-2 plus"></i>
					<p class="col-2-2">Add yourself to already created, upcoming games.  Get all the necesary information like meeting time/place and field address.</p>
				</div>
				<div class="grid row">
					<i class="fas fa-futbol fa-2x col-1-2 ball"></i>
					<p class="col-2-2">Get on the pitch with your friends and Play!</p>
				</div>
			</section>

		</main>
		
		<footer class="primary-footer">
			<small>© Play!</small>
			<nav class="nav">
			<ul>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Sign Up</a></li>
			</ul>
			</nav>
		</footer>
	</body>
</html>