<% include ./partials/auth/header %>

<form action="/login" method="post">
    <a class="logo-container" href="/">
        <img src="/images/soccer-logo.png" alt="soccer ball">
        Play!
    </a>
    <h1 class="title">Log In</h1>
    <div class="input-container">
        <input class="input-100" type="text" name="username" placeholder="Username" required/>
    </div>
    <div class="input-container">
        <input class="input-100" type="password" name="password" placeholder="Password" required/>
    </div>
    <div class="form-options">
        <div class="checkbox-container">
            <input type="checkbox" name="remember" id="remember"/>
            <label class="checkbox-100" for="remember">Remember Me</label>
        </div>
        <div class="forgot-container">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
    <div class="button-container">
        <input class="button-main" type="submit" value="Login"/>
    </div>
</form>
<div class="text-container">
    Not a member yet?
    <a class="button-100" href="/register">Register Now!</a>
</div>

<% include ./partials/auth/footer %>