*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
  font: 400 16px/20px 'Ubuntu', sans-serif;
}
body {
  background: #ddd;
  color: #1c5253;
}

a {
    text-decoration: none;
}

/*Mobile Navbar*/

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background: #eeffed;
  opacity: 0.9;
  font-size: 5vh;
  line-height: 8vh;
  z-index: 999;
}
.mobile-nav ul {
  display: flex;
  justify-content: space-evenly;
  z-index: 998;
}
.mobile-nav a {
  color: #96ab90;
  opacity: inherit;
}
.mobile-nav .active-link,
.mobile-nav a:hover {
  color: #517447;
}
.add-item {
  position: absolute;
  left: 0;
  right: 0;
  height: 10vh;
  width: 10vh;
  margin-top: -2vh;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform .3s;
}
.add-circle {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  text-align: center;
  z-index: 9999999;
}
.add-circle i {
  color: #fff;
  margin: 2.5vh 0;
}
.add-all-circle {
  background: #08b2e3;
}
.add-game-circle {
  background: #08e339;
}
.add-league-circle {
  background: #e308b2;
}
.add-discuss-circle {
  background: #e33908;
}
.add-game,
.add-league,
.add-discuss {
  opacity: 0;
  visibility: hidden;
}
.add-show {
  opacity: 1;
  visibility: visible;
}
.add-all-move {
  transform: rotate(45deg);
}
.add-game-move {
  transform: translateY(-15vh) translateX(-15vh);
}
.add-league-move {
  transform: translateY(-20vh);
}
.add-discuss-move {
  transform: translateY(-15vh) translate(15vh);
}
.add-item span {
  display: inline-block;
  margin-top: -10px;
  font-size: 14px;
  line-height: 14px;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 99999;
}

/*Header*/

.primary-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #517447;
  /*background: radial-gradient(#517447, #012622);*/
  color: #fff;
  z-index: 999;
}
.brand {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
}
.brand img {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  vertical-align: top;
}

/*Main Navigation*/
.side-nav {
  display: none;
  background: #012622;
  margin-top: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}
.user-avatar {
  height: 9rem;
  width: 9rem;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-avatar img {
  height: 7rem;
  width: 7rem;
  display: block;
  border-radius: 50%;
}
.user-avatar span {
  display: block;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
}
.side-nav a {
  color: #ddd;
  font-weight: 500;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.nav-link i {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
.side-nav .active-link,
.side-nav a:hover {
  color: #fff;
}

/*To be name later*/

.container {
  width: 90vw;
  margin: 5vh auto 0 auto;
}
.container:first-of-type {
  margin-top: 4rem;
}


/*Games*/
.scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2%;
}
.schedule-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 8px 0px #888888;
  transition: all .2s linear;
  position: relative;
  width: 20em;
  height: 20em;
  flex: 0 0 auto;
  margin-right: 5%;
}
.schedule-box a {
  color: #1c5253;
}
.schedule-box:hover {
	transform: scale(1.025);
}
.schedule-box img {
  width: 100%;
  height: 55%;
  border-radius: 8px 8px 0 0;
}
.cal-leaf {
  position: absolute;
  top: 7%;
  left: 7%;
  background: #fefefe;
  padding: .3em;
  border-radius: 5px;
  width: 3em;
  height: 3em;
}
.cal-leaf .month,
.cal-leaf .day {
	display: block;
	text-align: center;
	line-height: 1.1;
}
.cal-leaf .month {
  color: #517447;
  text-transform: uppercase;
}
.cal-leaf .day {
  color: #ee6352;
  font-weight: 500;
  font-size: 1.25em;
}
.schedule-text {
  width: 100%;
  height: 45%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.schedule-text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Typography*/
h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin-top: 10vh;
  display: none;
}
h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/*Footer*/
footer {
  margin-top: 12vh;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .row {
    display: flex;
  }
  .side-nav {
    display: block;
    flex: 0 0 17.5%;
    max-width: 17.5%;
  }
  h1 {
    display: block;
  }
  .main-dash {
    flex: 0 0 82.5%;
    max-width: 82.5%;
    margin-left: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .container {
    width: 100%;
  }
  .primary-header {
    text-align: left;
  }
  .brand {
    margin-left: calc(8.75% - 63px);
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .info-card {
    flex: 0 0 47.5%;
  }
  .comment-box {
    flex: 0 0 100%;
  }
}

/*show*/

.info-card {
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 2em;
}
.info-item {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-time {
  font-size: 1.25em;
  font-weight: 300;
  display: block;
}
.info-title {
  font-size: 2em;
  font-weight: 500;
}
.info-creator {
  font-weight: 300;
}
.info-location .info-time {
  padding: .5rem 0 .5rem 0;
}
.info-buttons {
  border-top: 1px solid #ddd;
}
#map {
  width: 100%;
  height: 200px;
  background: black;
}
.info-players p {
  font-size: 1.25em;
  margin-bottom: 12px;
}
.info-player {
  padding: 12px 10px;
}
.info-player:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}
.pill {
  color: #fff;
  display: inline-block;
  width: 5em;
  padding: .5em;
  text-align: center;
  border-radius: 25px;
  background: #517447;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font: inherit;
  min-width: 5em;
  padding: .5em;
  color: #000;
  cursor: pointer;
  text-align: center;
}
.btn a {
  color: #000;
}
.btn-delete {
  background: #ff4a1c;
}
.btn-edit {
  background: #ffe066;
}
.btn-comment {
  background: #8bb174;
}
.comment {
  /*padding: .5em .5em .5em 2em;*/
  border-bottom: 1px solid #ddd;
}
.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}
.comment-avatar {
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
}
.comment-avatar img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
/*.comment-header img {*/
/*  height: 1rem;*/
/*  width: 1rem;*/
/*}*/
.comment-author {
  font-weight: 500;
  /*margin-bottom: .2em;*/
  flex: 0 0 70%;
}
.comment-date {
  display: block;
  opacity: .5;
  /*margin-bottom: 1em;*/
  flex: 0 0 15%;
}
.comment-text {
  margin-left: 15%;
  margin-bottom: 1.25em;
}