/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

html {
  font-size: 12px;
  line-height: 18px;
}

body {
  background: #fefefe;
  font-family: 'Ubuntu', sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 90%;
}
.container {
  margin-top: 3rem;
}
.grid {
  display: flex;
}
.grid,
.col {
  padding: 0 2.5%;
}
.row {
  margin-bottom: 3rem;
}
.col-1-2 {
  flex-basis: 25%;
  align-self: center;
  text-align: center;
}
.col-2-2 {
  flex-basis: 75%;
}
.schedule-box {
  border-radius: 8px;
  box-shadow: 0px 8px 8px 0px #888888;
  transition: all .2s linear;
  position: relative;
}
.schedule-box:hover {
	transform: scale(1.025);
}
.schedule-box img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}
.cal-leaf {
  position: absolute;
  top: 7%;
  left: 7%;
  background: #fefefe;
  padding: .75em;
  border-radius: 5px;
}
.cal-leaf .month,
.cal-leaf .day {
	display: block;
	text-align: center;
}
.cal-leaf .month {
  color: #517447;
}
.cal-leaf .day {
  color: #ee6352;
  font-weight: 500;
  font-size: 1.5em;
}
.schedule-text {
  padding: 1.5em;
}
.schedule-text h3,
.schedule-text h4 {
  margin-bottom: .5em;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #1c5253;
}
h2 {
  margin-bottom: 3rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3, h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
strong {
  font-weight: 700;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Header
  ========================================
*/
header {
  width: 100%;
  height: 100vh;
  background: url("../images/abigail-keenan-17652-unsplash.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.primary-header {
  display: flex;
  justify-content: space-between;
  padding: 7.5vh 7.5vw;
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-weight: 700;
  vertical-align: top;
}
.primary-header a:hover {
  border-bottom: .25em solid #fff;
}
.nav ul {
  display: flex;
}
.nav li {
  margin: 0 1vw;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
.logo {
  border-bottom: .25em solid #fff;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: white;
  text-decoration: none;
}

.hero {
  color: #fff;
  margin-top: 15vh;
  padding: 0 15vw;
  text-align: center;
}
.hero h1 {
  color: #fff;
  margin-bottom: 7vh;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #517447;
  padding: 1em 2em;
  font-size: 13px;
}
.btn-default:hover {
  background: #77a198;
}


.primary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  font-size: 1.167rem;
  line-height: 1.67rem;
  background: #012622;
  background: radial-gradient(#517447, #012622);
  vertical-align: center;
  color: #fff;
  margin-top: 3rem;
}
.primary-footer small {
  margin-left: 5%;
}
.primary-footer .nav {
  margin-right: 5%;
}

.cal,
.ball {
  color: #ee6252;
}
.plus {
  color: #08b2e3;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .container,
  .grid {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 22px;
  }
  .container,
  .grid {
    width: 75%;
  }
  /* h1 { */
    /* font-size: 2rem; */
    /* line-height: 2.5rem; */
  /* } */
}
