<% include ../partials/header %>

<div class="row">
    <div class="col-10 col-md-8 col-lg-6 form-new">
        <h1 class="text-center">Edit this game</h1>
        <form action="/games/<%= game._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" name="game[name]" id="name" value="<%= game.name %>" autofocus/>
            </div>
            <div class="form-group">
                <label for="desc">Description:</label>
                <input class="form-control" type="text" name="game[description]" id="desc" value="<%= game.description %>"/>
            </div>
            
            <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
        </form>
        <a href="/games/<%= game._id %>">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>